html {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.4;
    color: rgb(56, 56, 56);
}

p {
    margin-bottom: 0px;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}


.container-header-h1 {
    padding: 18px;
    background-color: rgb(106, 165, 253);
}

.header-h1 {
    background-color: rgb(106, 165, 253);
    color: #fff;
    text-align: center;
    margin: 0px;
    font-size: 14px;
    font-weight: 700;
}

.header-nav {
    text-align: center;
}

.header-menu {
    text-align: center;
}

.header-logo, .header-menu {
    margin: 18px 0px;
}

.logo {
    text-decoration: none;
    font-size: 20px;
    color: rgb(56, 56, 56);
    font-weight: 700;
}

.enlaces-menu {
    text-decoration: none;
    color: rgb(35, 103, 206);
    font-size: 14px;
}

.enlaces-menu:hover {
    color: rgb(106, 165, 253);
}


.section {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.contenedor-parrafo {
    padding: 9px 18px ;
}

.coaching {
    color:  rgb(35, 103, 206);
    text-align: center;
    width: 90%;
    font-size: 16px;
}


.span {
    color: rgb(35, 103, 206);
    font-weight: 700;
    padding: 24px 0px;
    font-size: 16px;
}


.container-tarjetas {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.tarjetas {
    border: solid 1px rgb(209, 209, 209);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3px 6px 3px 6px;
    padding: 12px;
}


.tarjetas img {
    width: 75%;
}

.organizacional img {
    width: 40%;
}

.tarjetas p {
    text-align: center;
}

 ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}
 
ul li  {
    list-style: none;
    padding: 18px 18px 0px 18px;
}

.destacado {
    color:  rgb(35, 103, 206);
    font-weight: bold;
}



.negrita {
    font-weight: 700;
    font-size: 16px;
}

.no-recomendado {
    color:  rgb(204, 38, 9);
}

.subrayado {
    text-decoration: underline;
}


.container-section-personal-profesional {
    width: 100%;
    margin-top: 12px;
    display: flex;
    justify-content: center;
}



.container-section-personal-profesional h2 {
   font-size: 18px;
}


.check {
    color:   rgb(106, 165, 253);
}

.not {
    color:  rgb(204, 38, 9);
}


.que-es {
    margin-top: 40px;
}


.h3 {
    padding: 6px;
    margin: 0px;
}


.h4 {
    padding: 6px;
    margin: 0px;
    color: rgb(151, 151, 151);
}

.subtitulos {
    color: rgb(106, 165, 253);
}

.iconos-coaching {
    margin-top: 18px;
}

.imgenes-sobre-mi {
    display: flex;
    flex-direction: column;
}

.contenedor-kocs {
    display: flex;
    justify-content: center;
}

.contenedor-kocs img {
    width: 75%;
}

footer p {
    background-color: rgb(35, 103, 206);
    color: #fff;
    text-align: center;
    padding: 18px; 
}


.icono {
    color: rgb(105, 108, 112);
    font-size: 27px;
    padding: 10px;
}


.redes {
    display: flex;
    justify-content: center;
}


.redes i:hover {
    color: rgb(149, 149, 149);
}

.mail {
    text-decoration: none;
    color: rgb(56, 56, 56);
}

.list-sobre-mi {
    width: 100%;
}

.container-contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
}





/* Media Queries */

@media (min-width: 650px) {


    .container-tarjetas {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }


    .tarjetas {
        border: solid 1px rgb(209, 209, 209);
        flex: 1 1 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .imgenes-sobre-mi {
        display: flex;
        flex-direction: row;
        width: 50%;
    }

    .imgenes-sobre-mi img {
        width: 50%;
    }

    .contenedor-kocs img {
        width: 50%;
    }
    
}



@media (min-width: 1024px) {

    .contenedor-kocs img {
        width: 30%;
    }
    
    .container-tarjetas {
     width: 80%;
}

    .tarjetas {
        border: solid 1px rgb(209, 209, 209);
        flex: 1 1 24%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }    

    .index {
        background-color: rgba(106, 165, 253);
        width: 65%;
        color: #fff;
        margin: -50px 10px 10px 0px;
        padding: 20px;
        z-index: 1;
        box-shadow: 10px 10px 20px #aaaaaa;
    }

    .contenedor-index {
        display: flex;
        justify-content: center;
    }

    .pais-vasco {
        width: 80%;
    }

    .imagenes-sobre-mi {
        display: flex;
        justify-content: center;
    }

    .bilbao-donostia {
        width: 80%;
    }

    .container-sobre-mi {
        display: flex;
        justify-content: center;
    

    }

    .sobre-mi { 
        width: 80%;
        margin-top: 10px;
        align-items: flex-start;
       
  
    }

    .list-sobre-mi {
        margin: 0px 5px 0px 0px;
    }

    .porque {
        margin: 0px 5px;
        padding-top: 0px;
    }
    
    .como {
        margin: 0px 0px 0px 5px;
    }

    .negrita {
        text-align: center;
    }

    .container-coaching {
        display: flex;
        justify-content: center;
    }

    .contenedor-coaching {
        width: 80%;
    }
      
}


@media (min-width: 1400px) {
    .bilbao-donostia {
        width: 60%;
    }


    .sobre-mi { 
        width: 60%;
        margin-top: 10px;
        align-items: flex-start;
       
  
    }

    .contenedor-coaching {
        width: 60%;
    }

}


 
